doctype html
html
  head
    meta(charset='UTF-8')
    title Ohlssons bil
    link(href='style.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet')
  body
    .ohlssonsbil-body
      .header
        .logo
          a.logo.logo-link(href='index.html') OHLSSONS BIL
      .grey-body
        .product
          p.headline TILLGÄNGLIGA BILAR XX-XX-XX
          figure
            img(src='volvo1.jpg')
          section
            ul
              li
                | Typ: 
                span.inputjs Personbil
              li
                | Märke: 
                span.inputjs Volvo
              li
                | Körkort: 
                span.inputjs B
              li
                | År: 
                span.inputjs 2015
              li
                | Växellåda: 
                span.inputjs Manuell
              li
                | Övrig information: 
                span.inputjs Långsam i backar
            a.btn-book(href='confirmbooking.html') BOKA!
          figure
            img(src='volvo1.jpg')
          section
            ul
              li
                | Typ: 
                span.inputjs Personbil
              li
                | Märke: 
                span.inputjs Volvo
              li
                | Körkort: 
                span.inputjs B
              li
                | År: 
                span.inputjs 2015
              li
                | Växellåda: 
                span.inputjs Manuell
              li
                | Övrig information: 
                span.inputjs Långsam i backar
            a.btn-book BOKA!
          .hr-product
          figure
            img(src='volvo1.jpg')
          section
            ul
              li
                | Typ: 
                span.inputjs Personbil
              li
                | Märke: 
                span.inputjs Volvo
              li
                | Körkort: 
                span.inputjs B
              li
                | År: 
                span.inputjs 2015
              li
                | Växellåda: 
                span.inputjs Manuell
              li
                | Övrig information: 
                span.inputjs Långsam i backar
            a.btn-book BOKA!
          figure
            img(src='volvo1.jpg')
          section
            ul
              li
                | Typ: 
                span.inputjs Personbil
              li
                | Märke: 
                span.inputjs Volvo
              li
                | Körkort: 
                span.inputjs B
              li
                | År: 
                span.inputjs 2015
              li
                | Växellåda: 
                span.inputjs Manuell
              li
                | Övrig information: 
                span.inputjs Långsam i backar
            a.btn-book BOKA!
          figure
            img(src='volvo1.jpg')
          section
            ul
              li
                | Typ: 
                span.inputjs Personbil
              li
                | Märke: 
                span.inputjs Volvo
              li
                | Körkort: 
                span.inputjs B
              li
                | År: 
                span.inputjs 2015
              li
                | Växellåda: 
                span.inputjs Manuell
              li
                | Övrig information: 
                span.inputjs Långsam i backar
            a.btn-book BOKA!
    script(src='vanillacalendar.js', type='text/javascript')
    script.
      window.addEventListener('load', function () {
      vanillacalendar.init();
      })
